@media screen and (max-width: 1599px) {

	.p-banner__inner:before {
		left: -4px;
	}

	.tea {
		right: 85%;
	}

	.cup {
		left: 85%;
	}

	.container {
		padding: 0 70px;
	}
}

@media screen and (max-width: 1365px) {

	.p-about {
		padding: 80px;
	}

	.example__image {
		width: 320px;
	}

	.e-steps__item:after {
		right: 20px;
	}
}

@media screen and (max-width: 1279px) {

	.burger {
		position: absolute;
		right: 50px;
		top: 45px;
		width: 25px;
		height: 25px;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			left: -10px;
			top: -10px;
			right: -10px;
			bottom: -10px;
		}
	}

	.burger__bar {
		width: 25px;
		height: 2px;
		margin-bottom: 8px;
		background-color: $dark;
		transition: transform .3s, opacity .3s;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__logo,
	.header__left {
		position: relative;
		z-index: 1;
	}

	.header {

		&--scrolled {
			transform: none;

			.header__inner {
				padding: 30px;
			}
		}

		&--opened {

			.header__nav {
				opacity: 1;
				visibility: visible;
			}

			.burger__bar {

				&:nth-child(1) {
					transform: rotate(45deg) translate(10px, 4px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(10px, -4px);
				}
			}
		}
	}

	.header__inner {
		padding: 30px;
	}

	.header__nav {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 170px 30px 30px 30px;
		background-color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		visibility: hidden;
		opacity: 0;
		transition: opacity .3s, visibility .3s;
	}

	.header__nav-link {
		display: block;
		text-decoration: none;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 30px;
		color: $dark;
	}

	.header__nav-button {
		margin-bottom: 50px;
	}

	.header__right {
		visibility: hidden;
	}

	.range,
	.cubes {
		display: none;
	}

	.content {
		padding-top: 120px;
	}

	.p-banner__inner:before {
		height: 400px;
		left: -76px;
		bottom: auto;
		top: -163px;
		right: -184px;
	}

	.promo__inner {
		padding: 0;
	}

	.p-circs__item {
		margin-right: 40px;
		width: 50%;

		&:last-child {
			margin-right: 0;
		}
	}

	.p-circs__item-title {
		font-size: 40px;
	}

	.tea,
	.cup {
		display: none;
	}

	.p-info__inner {
		padding: 0;
	}

	.p-info__content:before {
		left: -30px;
		width: 50px;
		height: 50px;
	}

	.p-about__items {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.p-about__item {
		padding-right: 0;
		width: 100%;
		margin-bottom: 50px;
	}

	.p-about__item-inner {
		max-width: 100%;
	}

	.p-about__item-more {
		margin-top: 20px;
	}

	.examples {
		padding-top: 50px;
	}

	.example {
		padding: 50px;
	}

	.example__s-name {
		left: 15px;
	}

	.example__row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.example__image {
		width: 100%;
	}

	.example__image-file {
		display: block;
	}

	.example__content {
		padding-right: 0;
	}

	.winners__list {
		padding-left: 0;
	}

	.winners {
		padding: 70px;
	}

	.winners__title {
		font-size: 38px;
	}

	.c-results {
		padding: 0 30px 50px 30px;
	}

	.c-results__item-title {
		font-size: 14px;
	}

	.footer__soc-item {
		margin-right: 0;
	}

	.footer__inner {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;

	}

	.footer__logo {
		margin-bottom: 30px;
	}

	.footer__soc {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.footer__soc-item {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	.p-dates-title {
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: $brown;
		text-align: center;
	}

	.header {

		&--scrolled {

			.header__inner {
				padding: 20px;
			}
		}
	}

	.header__inner {
		padding: 20px;
	}

	.header__left {

		.link--back {

			&:before {
				transform: scale(1.3) translateY(-50%);
			}
			
			&:after {
				display: none;
			}
		}
	}

	.header__logo {
		width: 140px;
	}

	.header__right {
		width: 20px;
		height: 0;
	}

	.burger {
		top: 25px;
		right: 20px;
	}

	.header__nav {
		padding-top: 120px;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.p-dates {
		font-size: 20px;
		padding-top: 0;

		&:before {
			width: 400px;
			height: 400px;
			right: 21%;
		}
	}

	.container {
		padding: 0 20px;
	}

	.p-banner {
		padding: 0;

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}

	.p-banner__text {
		font-size: 30px;
		line-height: 36px;
	}

	.p-banner__inner {

		&:before {
			height: 442px;
			left: -76px;
			bottom: auto;
			top: -180px;
			right: -400px;
		}
	}

	.p-circs {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-bottom: 40px;
	}

	.p-circs__item {
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.p-circs__item-title {
		font-size: 36px;

		span {
			font-size: 14px;
    		transform: translateY(-6px);
		}
	}

	.promo__text {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 0;
	}

	.scene1 {
		display: block;
		margin-bottom: 50px;
	}

	.p-info__content {
		padding-left: 0;
		position: static;

		p {
			font-size: 13px;
			line-height: 18px;
		}

		&:before {
			left: 50%;
			transform: translateX(-50%);
			top: 0;
		}
	}

	

	

	.p-info {
		position: relative;
		padding-top: 60px;

		.p-info__s-name {
			position: static;
			white-space: normal;
			padding-top: 15px;
			margin-bottom: 30px;
		}

		.s-name__inner {
		    writing-mode: lr;
		    transform: none;
		    text-align: center;
		}
	}

	.p-about {
		margin-left: -20px;
		margin-right: -20px;
		padding: 60px 20px;
	}

	.p-about__title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 35px;
	}

	.p-about__text {
		font-size: 16px;
		line-height: 22px;
	}

	.p-about__item-title {
		font-size: 24px;
		min-height: 50px;
	}

	.p-about__item {

		&:before {
			right: -24px;
			top: -57px;
			width: 191px;
			height: 173px;
		}
	}

	.p-about__item-num {
		font-size: 20px;

		&:before {
			top: -15px;
			width: 50px;
			height: 50px;
		}

		&:after {
			width: 50px;
		}
	}

	.p-about__item-text {
		font-size: 13px;
		line-height: 18px;
	}

	.p-about__item-more {
		font-size: 13px;

		&:after {
			top: 2px;
		}
	}

	.examples__title {
		font-size: 30px;
		margin-bottom: 0;
	}

	.example__s-name {
		top: 40px;
	}

	.example {
		padding: 40px 20px;
		margin: 0 -20px;
	}

	.example__image {
		padding: 0 30px 0 30px;
	}

	.e-steps__item-title {
		font-size: 12px;
		height: 29px;
	}

	.e-steps__item-text {
		font-size: 18px;
	}

	.e-steps {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;

	}

	.e-steps__item {
		width: 50%;
		flex: none;
		margin-bottom: 30px;
	}

	.example__e-steps {
		margin-bottom: 0;
	}

	.example__text {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 30px;
	}

	.example__note {
		font-size: 16px;
		line-height: 22px;
	}

	.check {
		padding-top: 100px;
	}

	.check__title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 35px;
	}

	.check-form-wrapper {
		margin-left: -20px;
		margin-right: -20px;
		background-color: $dbrown;
		padding: 50px 20px;
		margin-bottom: 0;
	}

	.check__input {
		padding: 20px;
		margin-bottom: 30px;
	}

	.c-results {
		padding: 0;
		padding-top: 40px;
		margin-bottom: 50px;

		&:after {
			display: none;
		}
	}

	.c-results__title {
		font-size: 16px;
		margin-bottom: 25px;
	}

	.c-results__item-title {
		min-height: 0;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.c-results__row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.c-results__item {
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.c-results__item-text {
		font-size: 18px;
		line-height: 20px;
	}

	.winners {
		padding: 55px 20px 70px 20px;
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 50px;
	}

	.winners__title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 35px;
		text-align: center;
		padding: 0 50px;
	}

	.winner {
		font-size: 13px;
		margin-bottom: 13px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.winner__date {
		width: 80px;
	}

	.winner__name {
		width: 70px;
	}

	.winner__card {
		flex-grow: 2;
	}

	.s-name__title {
		font-size: 12px;
	}

	.p-info__item {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.p-info__more {
		margin-top: 30px;
	}

	.cup2 {
		left: 0;
		width: 100%;
		top: 133%;
	}

	.footer__soc {
		margin-bottom: 20px;
	}

	.cup2_cup {
		width: 100%;
		height: auto;
	}

	.cup2_girl {
		width: 130px;
		height: 120px;
		top: -130px;
	}

	.content {
		padding-bottom: 200px;
	}




}