.button {
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-family: 'Georgia';
	padding: 20px 25px;
	text-transform: uppercase;
	transition: color .3s, background .3s, opacity .3s;
	cursor: pointer;
	border: none;

	&--brown {
		color: #fff;
		background:
        radial-gradient(circle at 0 100%, rgba(204,0,0,0) 6px, #BC6228 7px),
        radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 6px, #BC6228 7px),
        radial-gradient(circle at 100% 0, rgba(204,0,0,0) 6px, #BC6228 7px),
        radial-gradient(circle at 0 0, rgba(204,0,0,0) 6px, #BC6228 7px);

        background-position: bottom left, bottom right, top right, top left;
	    background-size: 51% 50%;
	    background-repeat: no-repeat;

	    &:hover {
	    	opacity: .9;
	    }
	}

	&--small {
		padding: 15px 25px;
	}
}