.link {
	font-size: 14px;
	font-family: 'Georgia';
	color: #BC6228;
	text-transform: uppercase;
	transition: color .3s;
	text-decoration: none;

	

	&--back {
		padding-left: 30px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 10px;
			height: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/static/arr-back.svg);
			transition: opacity .3s, transform .3s;
		}

		&:after {
			display: inline-block;
			content: 'Вернуться';
		}

		&:hover {
			color: lighten(#BC6228, 5%);

			&:before {
				opacity: .8;
				transform: translateX(-10px) translateY(-50%);
			}
		}
	}
}