.footer {
	background-color: #462815;
	padding: 60px 0 30px 0;
	position: relative;
}

.footer__inner {
	padding: 0 20px;
	max-width: 1220px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.footer__logo {
	position: relative;
	width: 175px;
}

.footer__logo-img {
	display: block;
}

.footer__logo-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.footer__soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__soc-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	margin-right: 90px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__soc-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.footer__soc-icon {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #AA8B78;
	margin-right: 15px;
	flex-shrink: 0;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 16px;
		background-position: center;
		background-repeat: no-repeat;
	}

	&--fb {
		
		&:after {
			background-image: url(../images/static/icon-fb.svg);
		}
	}

	&--tw {
		
		&:after {
			background-image: url(../images/static/icon-tw.svg);
		}
	}

	&--vk {
		
		&:after {
			background-image: url(../images/static/icon-vk.svg);
		}
	}
}

.footer__soc-name {
	color: #AA8B78;
	font-family: 'Luciano';
	font-size: 24px;
}

.footer__phone {
	font-family: 'Bodoni';
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

.footer__copy {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 30px;
}

.footer__copy-image {
	max-width: 110px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.footer__copy-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.footer__copy-text {
	color: #fff;
}




