.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transition: background-color .3s, transform .3s;
	z-index: 10;

	&--scrolled {
		background-color: #fff;
		transform: translateY(-15px);

		.header__inner {
			padding-bottom: 30px;
		}
	}
}

.header__inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 45px 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	transition: padding .3s;
}

.header__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	flex: 1;
}

.header__logo {
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.header__logo-image {
	display: block;
}

.header_logo-inner {
	position: relative;
	width: 220px;
}

.header__logo-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.header__right {
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.header__nav,
.burger {
	@media screen and (min-width: 1280px) {
		display: none;
	}
}





