footer.footer
	div.footer__inner
		div.footer__logo
			a(href="#").footer__logo-link
			img(src="assets/images/static/footer-logo.svg", alt="").footer__logo-img
		div.footer__soc
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--fb
				div.footer__soc-name Facebook
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--tw
				div.footer__soc-name Twitter
			div.footer__soc-item
				a(href="#").footer__soc-link
				div.footer__soc-icon.footer__soc-icon--vk
				div.footer__soc-name Vkontakte

		a(href="#").footer__phone 8 800 555-28-35

	div.footer__copy
		a(href="#").footer__copy-link
		div.footer__copy-text Разработка сайта - 
		img(src="assets/images/static/logo-cake-w.svg", alt="").footer__copy-image