header.header
	div.header__inner
		div.header__left
			a(href="#").link.link--back
		div.header__logo
			div.header_logo-inner
				a(href="#").header__logo-link
				img(src="assets/images/static/header-logo.svg", alt="").header__logo-image
		div.header__right
			a(href="#" data-anchor='check').button.button--brown Проверить выигрыш

		div.header__nav
			div.header__nav-button
				a(href="#" data-anchor='check').button.button--brown Проверить выигрыш
			div.header__nav-links
				a(href="#" data-anchor='about').header__nav-link Об акции
				a(href="#" data-anchor='how').header__nav-link Как это работает
				a(href="#" data-anchor='exa').header__nav-link Приведем пример
				a(href="#" data-anchor='winners').header__nav-link Победители
				a(href="#" data-anchor='info').header__nav-link Информация

		div.burger
			div.burger__bar
			div.burger__bar
			div.burger__bar

