extends layout

block title
	title main

block content


	div.container

		div.range
			div.range__s-name
				div.s-name
					div.s-name__inner
						div.s-name__title период проведения
						div.s-name__text  С 15 февраля до 8 марта

		div.cubes
			img(src="assets/images/static/cubes.svg", alt="").cubes__img

		div.tea
			div.tea_1
				img(src="assets/images/static/tea_1.svg", alt="")
			div.tea_2
				img(src="assets/images/static/tea_2.svg", alt="")

		div.cup
			div.cup__girl
				img(src="assets/images/static/cup-dirl.svg", alt="")
			div.cup__cup
				img(src="assets/images/static/cup.svg", alt="")
		
		div.p-dates-title период проведения
		div.p-dates 15 февраля — 08 марта

		div.p-banner
			div.p-banner__inner
				div.p-banner__text Каждый день дарим чайно-кофейные абонементы!

		div.promo__inner
			div.p-circs
				div.p-circs__item
					div.p-circs__item-title <span>на</span> 15 000 <span class='p-circs__rouble'>руб.</span>
					div.p-circs__item-text Главный подарок разыгрывается один раз каждый день.
				div.p-circs__item
					div.p-circs__item-title <span>на</span> 200 <span class='p-circs__rouble'>руб.</span>
					div.p-circs__item-text Гарантированный подарок получают все участники розыгрыша.

			div.promo__text Пейте вкусный чай и кофе — получайте подарки от «Унции»! За каждую покупку от 1500 рублей вы участвуете в ежедневном розыгрыше и получаете подарок: абонемент на 200 или 15 000 рублей.

			div.scene1
				img(src="assets/images/static/scene_1.svg", alt="")

		div.p-info#about
			div.p-info__s-name
				div.s-name
					div.s-name__inner
						div.s-name__title информация об акции

			div.p-info__inner
				div.p-info__content
					p Праздники февраля и марта — особенные. Они напоминают нам, что зима уходит, а впереди лето, тепло, отпуск и много всего приятного. Традиционно праздники отмечают подарками... а самые чайные из них, как известно, в «Унции»!
					p Мы очень любим чай: настоящий, качественный и вкусный. Чтобы как можно больше людей могли наслаждаться хорошим чаем, мы подготовили для покупателей необычный подарок. Это розыгрыш чайно-кофейных сертификатов, которые будут радовать вас целых полгода.

		div.p-about#how
			div.p-about__title Как это работает
			div.p-about__text С 15 февраля по 8 марта при покупке чая или кофе вы становитесь участником розыгрыша чайно-кофейных абонементов от «Унции».

			div.p-about__items
				div.p-about__item
					div.p-about__item-inner
						div.p-about__item-top
							div.p-about__item-num
							div.p-about__item-title 1500 руб.
						div.p-about__item-text В розыгрыше участвуют каждые полные 1500 рублей из Вашей покупки.
						div(data-open='Проигравших нет' data-close='Скрыть').p-about__item-more
						div.p-about__item-note Сертификат на 200 рублей гарантированно станет вашим. Плюс каждый день вы можете выиграть 15 000 рублей — победителя определяет генератор случайных чисел.
				div.p-about__item
					div.p-about__item-inner
						div.p-about__item-top
							div.p-about__item-num
							div.p-about__item-title 12:00
						div.p-about__item-text Розыгрыш проходит ежедневно в 12:00. Участвуют все покупки за предыдущий день.
						div(data-open='Как узнать результаты' data-close='Скрыть').p-about__item-more
						div.p-about__item-note Чтобы проверить выигрыш, заполните эту форму. Также все участники розыгрыша получат смс-сообщение с кодом их сертификата.
				div.p-about__item
					div.p-about__item-inner
						div.p-about__item-top
							div.p-about__item-num
							div.p-about__item-title 2 вида подарков
						div.p-about__item-text Каждый день неограниченное количество сертификатов на 200 рублей и один на 15 000 рублей.
						div(data-open='Как использовать выигрыш' data-close='Скрыть').p-about__item-more
						div.p-about__item-note Сертификат можно использовать для оплаты чая и кофе. Он действует неограниченное количество раз в течение полугода — до 30 сентября.

		div.examples#exa
			div.examples__title Приведем пример

			div.examples__row
				div.example
					div.example__s-name
						div.s-name
							div.s-name__inner
								div.s-name__title пример 1
					div.example__row
						div.example__image
							img(src="assets/images/content/example_1.svg", alt="").example__image-file
						div.example__content
							div.example__e-steps
								div.e-steps
									div.e-steps__item
										div.e-steps__item-title покупка 1
										div.e-steps__item-text 3200 руб.
									div.e-steps__item
										div.e-steps__item-title полученных «голосов»
										div.e-steps__item-text 2
									div.e-steps__item
										div.e-steps__item-title выигрыш
										div.e-steps__item-text 400 руб.
							div.example__text Я сделал покупку на 3200 рублей и получил два балла — по одному за каждые 1500 рублей. По итогам розыгрыша в этот день я не выиграл сертификат на 15 000 рублей, но дважды получил гарантированные 200 рублей.
							div.example__note Верите в свою счастливую звезду? Тогда попытайтесь ещё раз! Количество участий в розыгрыше не ограничено.

				div.example
					div.example__s-name
						div.s-name
							div.s-name__inner
								div.s-name__title пример 2
					div.example__row
						div.example__image
							img(src="assets/images/content/example_2.svg", alt="").example__image-file
						div.example__content
							div.example__e-steps
								div.e-steps
									div.e-steps__item
										div.e-steps__item-title покупка 2
										div.e-steps__item-text 1600 руб.
									div.e-steps__item
										div.e-steps__item-title полученных «голосов»
										div.e-steps__item-text 1
									div.e-steps__item
										div.e-steps__item-title выигрыш
										div.e-steps__item-text абонемент 15000 руб.
							div.example__text Я сделал покупку на 1600 рублей и получил один балл. По итогам розыгрыша в этот день я выиграл сертификат на 15 000 рублей.
							div.example__note Ура, вам повезло! Теперь до конца сентября вы будете пить любимые чай и кофе на сумму 15 400 рублей. 

		div.check#check
			div.check__title Проверка выигрыша

			div.check-form-wrapper
				form.check__form.js-validate
					input(type="text" placeholder='Номер карты' name='card').check__input
					button(type='submit').check__button.button.button--brown.button--small Проверить выигрыш

			div.c-results
				div.c-results__title На карту 45678

				div.c-results__row
					div.c-results__item.c-results__item--long
						div.c-results__item-title начислено
						div.c-results__item-text Абонемент в сумме 200 рублей
					div.c-results__item
						div.c-results__item-title Дата последней покупки
						div.c-results__item-text 22.01.19
					div.c-results__item
						div.c-results__item-title Город действия
						div.c-results__item-text Санкт-Петербург

		div.winners#winners
			div.winners__title Победители розыгрыша 15 000 руб.
			div.winners__list
				div.winner
					div.winner__date 22.02.2019
					div.winner__name Ольга
					div.winner__card карта ****4529
				div.winner
					div.winner__date 22.02.2019
					div.winner__name Ольга
					div.winner__card карта ****4529
				div.winner
					div.winner__date 22.02.2019
					div.winner__name Ольга
					div.winner__card карта ****4529

		div.p-info#info
			div.p-info__s-name
				div.s-name
					div.s-name__inner
						div.s-name__title немного бюрократии

			div.p-info__inner
				div.p-info__content
					div.p-info__list
						div.p-info__item Абонемент можно использовать только для оплаты чая и кофе.
						div.p-info__item Сумма абонемента не подлежит обналичиванию.
						div.p-info__item На сумму абонемента не действуют скидки по дисконтным картам, скидки на любимый сорт. Часть чека или чек целиком, оплаченные абонементом, не участвуют в других акциях.
						div.p-info__item Срок проведения розыгрышей с 15.02.2019 по 08.03.2019 (включительно).

					div.p-info__hidden
						div.p-info__item 09.2019 включительно.
						div.p-info__item В розыгрыше участвуют все покупки на сумму более 1500 рублей. Каждые полные 1500 рублей в покупке принимают участие в розыгрыше.
						div.p-info__item В розыгрыше участвует максимальная сумма чека 40 000 руб.
						div.p-info__item По результатам розыгрыша за каждые 1500 рублей в чеке покупатель получает сертификат на 200 или 15 000 рублей.
						div.p-info__item В розыгрыше принимают участие покупки в розничных магазинах «Унция» и в интернет-магазине «Унция».
						div.p-info__item Ежедневно разыгрываются сертификаты следующих номиналов: 200 рублей — неограниченное количество, 15 000 рублей — 1 штука.
						div.p-info__item Один человек может принимать участие в розыгрыше неограниченное количество раз
						div.p-info__item Перечень магазинов, участвующих в акции: ...
						div.p-info__item Сертификаты за покупки в магазинах Санкт-Петербурга и Москвы можно применить в любых магазинах этих городов, за исключением Пушкина и Гатчины. Сертификаты за покупки в других городах применяются только в данных конкретных городах.

					div(data-hide='Скрыть' data-show='Подробнее').p-info__more

			div.cup2
				div.cup2_girl
					img(src="assets/images/static/cup2-girl.svg", alt="")
				div.cup2_cup
					img(src="assets/images/static/cup2.svg", alt="")






















