//default settings

* {
	-webkit-backface-visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: 'PlayFairDisplay';
	overflow-x: hidden;
}

.page {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.content {
	flex-grow: 2;
	padding-top: 170px;
	padding-bottom: 100px;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 150px;
	position: relative;
}

.footer {
	margin-top: auto;
}

.cubes {
	position: absolute;	
	width: 140px;
	height: 80px;
	z-index: 2;
	transform: translate(-70px, 50px);
}

.tea {
	position: absolute;
	width: 410px;
	height: 410px;
	right: 80%;
	top: 270px;
}

.tea_2 {
	position: absolute;
	width: 200px;
	height: 190px;
	bottom: 20px;
	right: 0;
}

.cup {
	position: absolute;
	width: 470px;
	height: 450px;
	left: 80%;
	top: 700px;
}

.cup__girl {
	position: absolute;
    left: 31px;
    top: -177px;
    height: 240px;
    width: 90px;
}

label.error {
	display: none !important;
}

.cup2 {
	position: absolute;
	width: 520px;
	height: 260px;
	left: 70%;
	top: 100%;
}

.cup2_girl {
	position: absolute;
	width: 220px;
	height: 190px;
	right: 50px;
	top: -240px;
}

.cup2_cup {
	width: 420px;
	height: 270px;
}

.scene1 {
	display: none;
}









