.c-results {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 125px 110px 125px;
	display: none;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		left: 80%;
		width: 140px;
		height: 75px;
		left: 95%;
		top: 100px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/cubes.svg);
	}
}

.c-results__title {
	font-size: 24px;
	font-family: 'PlayFairDisplay';
	margin-bottom: 45px;
	color: $brown;
}

.c-results__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.c-results__item {
	width: 30%;
	padding-right: 20px;

	&--long {
		width: 40%;
		padding-right: 60px;
	}
}

.c-results__item-title {
	font-size: 15px;
	font-family: 'georgia';
	letter-spacing: 0.05em;
	min-height: 40px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #AA8B78;
}

.c-results__item-text {
	font-size: 24px;
	font-family: 'bodoni';
	color: $dark;
}