.check {
	position: relative;
	padding-top: 125px;
}

.check__title {
	@extend .examples__title;

	text-align: center;
	margin-bottom: 55px;
}

.check-form-wrapper {
	position: relative;
	text-align: center;
    padding: 80px 50px 65px 50px;
    max-width: 1040px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 80px;

	@media screen and (min-width: 768px) {
		background:
	    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 24px, $dbrown 25px),
	    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 24px, $dbrown 25px),
	    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 24px, $dbrown 25px),
	    radial-gradient(circle at 0 0, rgba(204,0,0,0) 24px, $dbrown 25px);

	    background-position: bottom left, bottom right, top right, top left;
	    background-size: 51% 51%;
	    background-repeat: no-repeat;
	}

    &:before {
		content: '';
		position: absolute;
		width: 1280px;
		height: 580px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/check-before.svg);
		z-index: 1;
		left: -100px;
		right: -200px;
		top: -140px;
	}
}

.check__form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

.check__input {
	border: none;
	background-color: #F8F7F1;
	color: $brown;
	font-size: 16px;
	font-family: 'georgia';
	padding: 30px;
	width: 100%;
	max-width: 530px;
	text-transform: uppercase;
	margin-bottom: 40px;
	border-bottom: 1px solid transparent;
	transition: border-color .3s;

	&.error {
		border-color: red;
	}
}