.e-steps {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.e-steps__item {
	position: relative;
	padding-right: 30px;
	flex: 1;

	&:after {
		content: '';
		position: absolute;
		right: 40px;
		top: 2px;
		width: 8px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/arr-frw.svg);
	}

	&:last-child {

		&:after {
			display: none;
		}
	}
}

.e-steps__item-title {
	font-family: 'georgia';
	color: #462815;
	height: 52px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.e-steps__item-text {
	font-size: 30px;
	font-family: 'bodoni';
	line-height: 28px;
	color: $dark;
	font-weight: 700;
}

.example__text {
	font-family: 'georgia';
	font-size: 17px;
	line-height: 27px;
	color: #AA8B78;
	margin-bottom: 65px;
}

.example__note {
	font-family: 'PlayFairDisplay';
	font-size: 24px;
	line-height: 33px;
	color: $dark;
}