.examples {
	padding-top: 130px;
}

.examples__title {
	font-family: 'PlayFairDisplay';
	font-size: 48px;
	font-weight: 700;
	color: $dark;
	margin-bottom: 30px;
}

.example {
	position: relative;
	padding: 50px 100px;
	margin-bottom: 30px;

	&:nth-child(even) {
		background-color: #F8F7F1;
	}

	&:last-child {
		margin-bottom: 0;

		&:after {
			content: '';
			position: absolute;
			width: 450px;
			height: 411px;
			z-index: -1;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/static/fly_3.svg);
			right: -130px;
			bottom: -70px;
		}
	}
}

.example__s-name {
	position: absolute;
	top: 100px;
	left: 65px;
}

.example__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.example__image {
	width: 380px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 30px;
	flex-shrink: 0;
}

.example__content {
	flex-grow: 2;
	padding-right: 70px;
	padding-top: 50px;
}

.example__image-file {
	max-width: 250px;
	margin: 0 auto;
}

.example__e-steps {
	margin-bottom: 45px;
}