.p-about {
	position: relative;
	background-color: #F8F7F1;
	padding: 100px;

	&:before {
		content: '';
		position: absolute;
		left: -200px;
		top: -100px;
		width: 450px;
		height: 400px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fly_2.svg);
		z-index: -1;
	}
}

.p-about__title {
	font-size: 48px;
	line-height: 55px;
	margin-bottom: 40px;
	color: $dark;
	font-weight: 700;
}

.p-about__text {
	font-weight: 400;
	font-size: 24px;
	color: $dark;
	line-height: 33px;
	max-width: 790px;
}

.p-about__items {
	margin-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	counter-reset: aboutlist 0; 
}

.p-about__item {
	position: relative;
	width: 33.333%;
	padding-right: 40px;

	&:before {
		content: '';
		position: absolute;
		right: 20px;
		top: -30px;
		width: 210px;
		height: 190px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/static/p-about_1.svg);
	}

	&:nth-child(1) {

		&:before {
			background-image: url(../images/static/p-about_1.svg);	
		}
	}

	&:nth-child(2) {

		&:before {
			background-image: url(../images/static/p-about_2.svg);	
		}
	}

	&:nth-child(3) {

		&:before {
			top: -50px;
			height: 210px;
			background-image: url(../images/static/p-about_3.svg);	
		}
	}
}

.p-about__item-title {
	font-family: 'bodoni';
	font-size: 30px;
	font-weight: 700;
	color: $dark;
	line-height: 27px;
	position: relative;
	min-height: 72px;
}

.p-about__item-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.p-about__item-num {
	font-family: 'bodoni';
	font-size: 24px;
	color: #fff;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 60px;
		height: 60px;
		background-color: $brown;
		left: 0;
		top: -18px;
		border-radius: 50%;
	}

	&:after {
		counter-increment: aboutlist;
		content: counter(aboutlist, decimal-leading-zero);
		display: inline-block;
		position: relative;
		width: 60px;
		text-align: center;
		color: #FFF4D7;
		margin-right: 20px;
	}
}

.p-about__item-text {
	font-size: 17px;
	color: $dark;
	font-family: 'georgia';
	line-height: 27px;
}

.p-about__item-inner {
	max-width: 300px;
}

.p-about__item-note {
	@extend .p-about__item-text;

	display: none;
	margin-top: 30px;
}

.p-about__item-more {
	margin-top: 65px;
	color: $dark;
	font-size: 17px;
	font-family: 'georgia';
	position: relative;
	font-weight: 700;
	display: inline-block;
	padding-right: 33px;
	cursor: pointer;
	transition: color .3s;

	&:hover {
		color: $brown;
	}

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 5px;
		background-repeat: no-repeat;
		background-position: center;
		width: 14px;
		height: 10px;
		background-image: url(../images/static/arr-down.svg);
		transition: transform .3s;
	}

	&:before {
		content: attr(data-open);
	}

	&.is-opened {

		&:after {
			transform: rotate(180deg);
		}

		&:before {
			content: attr(data-close);
		}
	}
}










