.p-banner {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
    position: relative;

    &:before,
    &:after {
        content: '';
        background-image: url(../images/static/p-banner-before.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -1px;
        bottom: -1px;
        width: 30px;
    }

    &:before {
        left: 29px;
    }

    &:after {
        right: 29px;
        background-position: right;
    }
}

.p-banner__inner {
	position: relative;
	background:
    radial-gradient(circle at 0 100%, rgba(204,0,255,0) 24px, $dbrown 25px),
    radial-gradient(circle at 100% 100%, rgba(204,0,255,0) 24px, $dbrown 25px),
    radial-gradient(circle at 100% 0, rgba(204,0,255,0) 24px, $dbrown 25px),
    radial-gradient(circle at 0 0, rgba(204,0,255,0) 24px, $dbrown 25px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 51% 50%;
    background-repeat: no-repeat;

    text-align: center;
    padding: 50px 0;
    overflow: hidden;

    &:before {
    	content: '';
    	position: absolute;
        left: -182px;
        top: -221px;
    	right: 0;
    	bottom: 0;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-image: url(../images/static/p-banner-bg.svg);
    	-webkit-background-size: cover;
    	background-size: cover;
    }
}

.p-banner__text {
	font-size: 48px;
	font-family: 'PlayFairDisplay';
	color: #fff;
	line-height: 54px;
	max-width: 680px;
	margin: 0 auto;
	font-weight: 700;
	position: relative;
}