.p-circs {
	padding-top: 55px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 60px;
}

.p-circs__item {
	margin-right: 80px;
	flex-shrink: 0;

	&:last-child {
		margin-right: 0;
	}
}

.p-circs__item-title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-size: 96px;
	font-weight: 700;
	font-family: 'bodoni';
	color: $dbrown;
	letter-spacing: -0.05em;

	span {
		font-family: 'PlayFairDisplay';
		font-size: 24px;
		transform: translateY(-10px);
		letter-spacing: 0;


	}
}

.p-circs__rouble {
	margin-left: 10px;
}

.p-circs__item-text {
	font-family: 'georgia';
	color: #9B7E6D;
	line-height: 24px;
	max-width: 320px;
}