.p-dates {
	text-align: center;
	padding: 20px 0 40px 0;
	font-family: 'bodoni';
	font-size: 36px;
	color: $brown;
	font-weight: 700;
	position: relative;

	&:before {
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		width: 500px;
		height: 500px;
		position: absolute;
		background-image: url(../images/static/fly_1.svg);
		right: 70%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.p-dates-title {
	display: none;
}