.p-info {
	position: relative;
	margin-bottom: 100px;
}

.p-info__s-name {
	position: absolute;
	left: 50px;
	top: 0;
	white-space: nowrap;
}

.p-info__inner {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 100px;
}

.p-info__content {
	position: relative;
	padding-left: 130px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 60px;
		height: 60px;
		background-image: url(../images/static/info.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	p {
		margin-top: 0;
		margin-bottom: 35px;
		color: #322323;
		font-size: 17px;
		font-family: 'Georgia';
		line-height: 27px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.p-info__list {
	counter-reset: list 0; 
}

.p-info__item {
	font-family: 'georgia';
	color: $dark;
	margin-bottom: 15px;
	padding-left: 40px;
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		margin-right: 20px;
		display: inline-block;
		counter-increment: list;
		content: counter(list, decimal-leading-zero) ".";
	}
}

.p-info__hidden {
	display: none;
}

.p-info__more {
	padding-left: 40px;
	color: $brown;
	font-size: 13px;
	position: relative;
	display: inline-block;
	margin-top: 50px;
	cursor: pointer;
	padding-right: 30px;
	text-transform: uppercase;
	transition: opacity .3s;

	&:after {
		content: '';
		width: 13px;
		height: 9px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/arr-down.svg);
		transition: transform .3s;
	}

	&:before {
		content: attr(data-show);
	}

	&.is-opened {

		&:before {
			content: attr(data-hide);
		}

		&:after {
			transform: rotate(180deg) translateY(50%);
		}
	}

	&:hover {
		opacity: .9;
	}
}

.p-info__hidden {
	margin-top: 20px;
	font-family: 'georgia';
}




