.promo__inner {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 100px;
}

.promo__text {
	font-family: 'PlayFairDisplay';
	font-size: 24px;
	line-height: 33px;
	color: #322323;
	margin-bottom: 80px;
}