.range {
	position: fixed;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	z-index: 2;
}

.range__s-name {
	position: absolute;
	transform: translateY(-50%);
}