.s-name {
	color: $brown;
}

.s-name__inner {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: right;
}

.s-name__title {
	font-family: 'georgia';
	font-size: 15px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.s-name__text {
	font-size: 30px;
	font-family: 'bodoni';
	font-weight: 700;
	margin-right: 10px;
}