.winners {
	background-color: #F8F7F1;
	padding: 90px 125px;
	margin-bottom: 125px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 350px;
		height: 350px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/fly_4.svg);
		left: -80px;
		bottom: -50px;
		z-index: -1;
	}
}

.winners__title {
	font-size: 48px;
	font-family: 'PlayFairDisplay';
	font-weight: 700;
	color: $dark;
	margin-bottom: 50px;
}

.winners__list {
	padding-left: 140px;
}

.winner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 15px;
	font-family: 'georgia';
	font-size: 17px;
	color: $dark;
}

.winner__date {
	width: 115px;
}

.winner__name {
	width: 115px;
}